---
layout: default
title: raapra | Home
---

<section
	id="carouselExampleSlidesOnly"
	class="carousel hero-section slide"
	data-bs-ride="carousel"
>
	<div class="carousel-text">
		<p class="top">THE HIGHEST HEPPINESS ON EARTH</p>
		<p class="middle">IS MARRIAGE</p>
		<p class="bottom">MAKE YOUR WEDDING A GRAND AFFAIR WITH US</p>
	</div>
	<div class="hero-overlay"></div>
	<div class="carousel-inner">
		<div class="carousel-item active" data-bs-interval="3000">
			<img src="/assets/images/hero/img1.jpg" class="d-block w-100" alt="..." />
		</div>
		<div class="carousel-item" data-bs-interval="3000">
			<img src="/assets/images/hero/img2.jpg" class="d-block w-100" alt="..." />
		</div>
		<div class="carousel-item" data-bs-interval="3000">
			<img src="/assets/images/hero/img3.jpg" class="d-block w-100" alt="..." />
		</div>
	</div>
</section>

<section class="best-feature-section">
	<div class="container">
		<h1 class="section-heading text-center">Our best features</h1>
		<div class="feature-container row">
			{% for item in site.data.home.features %}
			<article
				class="col-md"
				data-aos="fade-left"
				data-aos-delay="{{ forloop.index | times: 100 }}"
				data-aos-duration="500"
			>
				<h2>{{item.title}}</h2>
				<p>{{item.description}}</p>
			</article>
			{% endfor %}
		</div>
	</div>
</section>

<section class="achievements-section">
	<div class="container">
		<h1 class="section-heading text-center">Our Achievements</h1>
		<div class="achievement-container row">
			{% for item in site.data.home.achievements %}
			<article
				class="col-md"
				data-aos="fade-left"
				data-aos-delay="{{ forloop.index | times: 100 }}"
				data-aos-duration="500"
			>
				<h2>{{item.title}}</h2>
				<p>{{item.description}}</p>
			</article>
			{% endfor %}
		</div>
	</div>
</section>
