.main-services-container {
	position: absolute;
	width: 100vw;
	height: 94vh;
	background-color: $dark-color;
	overflow: hidden;
}

.services {
	display: flex;
	max-width: 1200px;
	margin: auto;
	margin-top: 5%;
	--s: 200px; /* size  */
	--m: 30px; /* margin */
	--f: calc(1.732 * var(--s) + 4 * var(--m) - 1px);
}

.services-container {
	font-size: 0;

	h2 {
		font-size: 1.6rem;
		height: 50px;
		margin-top: 40%;
		margin-left: 5%;
		// text-align: center;
		margin-right: 4%;
		color: rgb(255, 255, 255);
		letter-spacing: 0.1rem;
		word-spacing: 0.3rem;
		line-height: 2rem;
		font-weight: 400;
		text-shadow: 0.2rem 0.2rem 0.4rem rgb(49, 28, 28);
	}
}

.services-container div {
	cursor: pointer;
	width: var(--s);
	margin: var(--m);
	height: calc(var(--s) * 1.1547);
	display: inline-block;
	font-size: initial;
	clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
	background: rgb(120, 34, 34);
	margin-bottom: calc(var(--m) - var(--s) * 0.2885);
}

.services-container div:hover {
	background-color: rgb(167, 51, 51);
}
// .services-container div:nth-child(odd) {
// 	background: green;
// }
.services-container::before {
	content: "";
	width: calc(var(--s) / 2 + var(--m));
	float: left;
	height: 120%;
	shape-outside: repeating-linear-gradient(
		#0000 0 calc(var(--f) - 3px),
		#000 0 var(--f)
	);
	border-left: 2px solid $secondary-background;
}
