$primary-background: rgb(205, 47, 47);
$secondary-background: rgb(222, 222, 46);
$dark-color: #161616;
$text-dark: #313131;

// font sizes
$font-section-heading: 2.8rem;

// font-weight
$font-bold: 700;
